.bookList{
  min-width: 230px;
}
.book-detail .details{
  padding: 4px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.search-box, .book-list, .book-detail{
  padding: 10px;
  margin: 10px;
}
.book-list {
  padding: 0px;
}
.book-list-item{
  height: 280px;
  text-overflow: ellipsis;
}
.list-group-item{
  cursor: pointer;
}
.list-group-item img{
  display: flex;
  margin: auto;
}
.list-group-item span{
  display: flex;
  justify-content: center;
}
.list-group-item:hover{
  background-color: #ddd;
}
.star{
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
  height: 13px;
  width: 13px;
  overflow: hidden;
}
.star.full{
  background: no-repeat url(/static/img/stars.png) 0 -39px;
}
.star.half{
  background: no-repeat url(/static/img/stars.png) 0 -13px;
}
.book-details span.subtitle{
  line-height: 1.2em;
  font-family: Arial,sans-serif;
  color: #666;
  font-size: 13px;
}
.book-details .media-body .volume-description{
  line-height: 1.2em;
  font-family: Arial,sans-serif;
  color: #666;
  font-size: 13px;
}